@using ValhallaVaultCyberAwareness.Managers
@using ValhallaVaultCyberAwareness.Models 
@using Microsoft.JSInterop
@using ValhallaVaultCyberAwareness.Repository
@rendermode InteractiveServer
@inject ValhallaUow uow
@inject NavigationManager NavigationManager
<p>
    <button class="btn buttonBorder w-50" type="button" @onclick="ToggleCollapse">
        @Category.Name
    </button>
</p>
<div class="@(IsCollapsed ? "" : "collapse")" id="@($"collapseExample-{Category.Id}")">
    <div class="card bg-dark text-light" style="border:none !important;">
        <div class="card-body">
            @if (Segments != null && Segments.Any())
            {   <div class="d-flex flex-column align-items-center">
                    @foreach (var segment in Segments)
                    {
                        <button @onclick="(() => NavigateToSegment(segment.Id))" class="text-light btn btn-lg mt-1" style="border:1px solid #21e8ef; width:50%">@segment.Name</button>

                    }
                </div>
                
            }
            else if (IsCollapsed && Segments == null)
            {
                <p>Loading...</p>
            }
        </div>
    </div>
</div>


@code {
    [Parameter]
    public CategoryModel? Category { get; set; }

    private bool IsCollapsed { get; set; } = false;

    private List<SegmentModel>? Segments { get; set; } = null;

    private async Task ToggleCollapse()
    {
        IsCollapsed = !IsCollapsed;

        if (IsCollapsed && Segments == null)
        {
            Segments = await uow.SegmentRepo.GetSegmentsInCategoryAsync(Category.Id);
           
        }
    }

    private void NavigateToSegment(int segmentId)
    {
        NavigationManager.NavigateTo($"/Segment/{segmentId}");
    }


}




