<button class="btn buttonBorder w-75 mb-2 mt-3" @onclick="ToggleCollapse">@Title</button>
<div class="@(IsCollapsed? "" : "collapse")"> 
    <div class="card bg-dark text-light" style="border:none;">
        <div class="card-body">
            <p class="fw-bold">@Text</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Text { get; set; }

    [Parameter]
    public string Title { get; set; }

    private bool IsCollapsed { get; set; } = false;

    private async Task ToggleCollapse()
    {
        IsCollapsed = !IsCollapsed;
       
    }
}
