@page "/"
@using ValhallaVaultCyberAwareness.Components.BComponents


<PageTitle>Home</PageTitle>

<h1 class="text-white"> valhalla vault cyber awareness</h1>
<h3 class="text-white">guarding your digital realm</h3>


<div>
	<a class="btn btn-primary" href="account/login">login</a>
</div>
<div>
	<a class="btn btn-primary" href="account/register">register</a>
</div>



