@page "/"
@using ValhallaVaultCyberAwareness.Components.BComponents


<PageTitle>Home</PageTitle>

<img style="width:50%" src="/Images/logo-no-background.png" />


<div>
	<a class= "btn btn-lg buttonBorder" href="account/login">login</a>
</div>
<div>
	<a class= "btn btn-lg buttonBorder" href="account/register">register</a>
</div>

