@page "/"

<PageTitle>Home</PageTitle>

<h1> Valhalla Vault Cyber Awareness</h1>
<h3>Guarding Your Digital Realm</h3>

<img src="images/logo-no-background.png" style="width:50%"/>
<div>
	<a class="btn btn-primary" href="Account/Login">Login</a>
</div>
<div>
	<a class="btn btn-primary" href="Account/Register">Register</a>
</div>



