@page "/Subcategory/{Id:int}"
@using Microsoft.AspNetCore.Authorization
@using ValhallaVaultCyberAwareness.Models
@using ValhallaVaultCyberAwareness.Repository
@inject ValhallaUow uow
@attribute [Authorize]


<h3></h3>

@code {
    [Parameter]
    public int Id { get; set; }
   
    

    protected override async Task OnInitializedAsync()
    {
    
    }
}
